Source: oslo-vmware
Section: python
Priority: optional
Maintainer: Vishvananda Ishaya <vishvananda@gmail.com>
Build-Depends: debhelper (>= 8.0.0), python-setuptools, python-d2to1,
 python-pbr,
 python-all (>= 2.7.3-0ubuntu2.2),
 python-all-dev (>= 2.7.3-0ubuntu2.2),
 python-dev (>= 2.7.3-0ubuntu2.2),
Standards-Version: 3.9.4

Package: python-oslo.vmware
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Messaging for openstack
